{% extends 'base.html' %}

{% block title %}
    Profile - Sporty App
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.age }}</p>
                    <p class="card-text">Location: New York, NY</p>
                    <a href="{% url 'CreateTraining' %}">Add Training</a>
                    <p><a href="{% url 'UpdateProfile' user.id %}" class="btn btn-primary">Edit Profile</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna sed turpis fringilla elementum.</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">My Trainings</h5>
                    <ul class="list-group">
                        {% for i in workouts %}
                            <p>{{ i }}</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
